<h1>My Money</h1>

</br>
<h2>Expenses</h2>

<%= pie_chart [["Football", 10], ["Basketball", 5]] %>

<h5>Total: <%= number_to_currency Calculations::Expense.total %> 
</br>
  Average: <%= number_to_currency @avg_expenses  %>
</br>
  Worst Sin: <%= number_to_currency @max_expenses  %>
    </h5>


<%= link_to 'Expenses', expenses_path %>
<%= link_to 'Income', incomes_path %>
